{% extends "base.html" %}

{% block title %}Add Transaction{% endblock %}

{% block content %}
<h1>Add Transaction</h1>
<form method="POST" action="{{ url_for('budget.add_transaction') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </div>
    <div>
        {{ form.amount.label }}<br>
        {{ form.amount() }}
    </div>
    <div>
        {{ form.type.label }}<br>
        {{ form.type() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
