{% extends "base.html" %}
{% block title %}Add Task{% endblock %}
{% block content %}
<h1 class="my-4">Add New Task</h1>
<form method="POST" action="{{ url_for('task.add_task') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.due_date.label(class="form-control-label") }}
        {{ form.due_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
