{% extends "base.html" %}
{% block title %}{{ task.title }}{% endblock %}
{% block content %}
<h1 class="my-4">{{ task.title }}</h1>
<form method="POST" action="{{ url_for('task.task_detail', task_id=task.id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.due_date.label(class="form-control-label") }}
        {{ form.due_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.completed.label(class="form-control-label") }}
        {{ form.completed(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
